* {
  font-family: "Varela Round", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  background-color: #a3c4bcff;
  color: black;
}

p {
  font-size: medium auto;
}

footer {
  padding: 2em;
}

a {
  color: aliceblue;
}

a:hover {
  color: #413c58;
}

#header {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  width: fit-content(90%);
  height: fit-content(90%);
  background-color: rgb(177, 206, 181);
  color: white;
  border-style: dashed;
  border-color: rgb(115, 157, 121);
  border-width: 5px;
  border-radius: 3%;
  padding: 10px;
  columns: auto;
  column-gap: 50%;
}

#me {
  font-size: 1.7em;
  text-align: left;
}

#name {
  padding-left: 20px;
}

#img {
  width: 40%;
  height: auto;
}

#about-me {
  font-size: 1.3em;
  position: relative;
  float: left;
}

#socials {
  font-size: 1.3em;
  position: relative;
}

#education {
  float: left;
}

#skills {
  float: left;
}

#volunteer {
  float: right;
}

#achievements {
  float: right;
}

#end {
  float: right;
}